header{
    background-color: rgb(119, 69, 27);
    color:white;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    position: fixed;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#shopping-cart{
    display: flex;
    align-items:center;
}
#shopping-cart-logo-pic{
    width: 80px;
}
main{
    display: flex;
    margin: 0 auto 50px auto;
    padding-top: 100px;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card > img{
    width: 150px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#products{
    display: flex;
}
