header{
    background-color: black;
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
}
#header > h1{
    color: white;
    margin-left: 20px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
}
#content, #index{
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: clamp(40px, 8vw, 160px);
}
body {
  display: flex; /* Activates flexbox layout */
  flex-direction: column; /* Stacks children vertically */
  min-height: 100vh; /* Ensures the body is at least the height of the viewport */
  background-image: url(../images/baldurs_gate_3_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main{
    flex: 1;
    margin: 0 auto 50px auto;
    padding-top: 100px;

    background-color: burlywood;

}
.location_images{
    width: 900px;
    height: auto;
    border-color: black;
    border-radius: 5px;
    border-width: 5px;
    margin-right: 15px;
}
footer{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > p{
    color: white;
}
h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: underline navy;
}
hr{
    border-color: #643f1d;
    border-width: 2px;
}
ol{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 0;
    margin: 0;
    list-style-position: outside;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    margin-bottom: 5px;
}
ol .subsections{
    margin-left: 1.5rem;
    padding-left: 0;
    margin-top: 0.5rem;
    list-style-type: disc;
}

ol .subsections li{
    margin-left: 0.5rem;
}
ol > li::marker{
    color: aqua;
}
.subsections > li::marker{
    color: red;
}
ul > li{
    color: blueviolet;
}
.subsections a, ol a{
    text-decoration: none;
}
.subsections-content{
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 5px solid #643f1d;
    border-radius: 5px;
    background: linear-gradient(130deg, rgba(222, 184, 135, 0.9), rgba(184, 134, 11, 0.9));
    padding: 15px;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right:10px;
    align-items: left;
}
.nav a{
    text-decoration: none;
    color:darkorchid;
}
.nav {
    list-style-type: none;
}
.nav li:hover{
    background-color: lightgray;
}
h2, h3{
    text-decoration: underline navy;
}
