header{
    background-color: black;
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#header > h1{
    color: white;
    margin-left: 20px;
}
*{
    border: 1px solid red;
}
html, body{
    margin: 0;
    padding: 0;
}
.character-pic{
    width: 200px;
    height: auto;
    border-color: black;
    border-radius: 5px;
    border-width: 5px;
    margin-right: 15px;
}

.character{
    display: flex;
    align-items: center;
    flex-direction: column;
}