header{
    background-color: black;
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#header > h1{
    color: white;
    margin-left: 20px;
}
*{
    border: 1px solid red;
}
html, body{
    margin: 0;
    padding: 0;
}