header{
    background-color: black;
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
}
#header > h1{
    color: white;
    margin-left: 20px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
}
body {
  display: flex; /* Activates flexbox layout */
  flex-direction: column; /* Stacks children vertically */
  min-height: 100vh; /* Ensures the body is at least the height of the viewport */
  background-image: url(../images/baldurs_gate_3_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main{
    flex: 1;
    margin: 0 auto 50px auto;
    padding-top: 100px;

    background-color: burlywood;
}
#content{
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: clamp(40px, 8vw, 160px);
}
.character-pic{
    width: 200px;
    height: auto;
    border-color: black;
    border-radius: 5px;
    border-width: 5px;
    margin-right: 15px;
}

.character{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
table{
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}
td{
    padding: 5px;
}
footer{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > p{
    color: white;
}
h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: underline navy;
}
hr{
    border-color: #643f1d;
    border-width: 2px;
}
table th{
    background-color: darkblue;
    color: white;
    font-weight: bold;
}
tr:nth-child(even){
    background-color: black;
    color: white;
}
tr:nth-child(odd){
    background-color: rgb(161, 206, 79);
    color: black;
}
#characters{
    margin: 10px;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right:10px;
    align-items: left;
}
.nav a{
    text-decoration: none;
    color:darkorchid;
}
.nav {
    list-style-type: none;
}
.nav li:hover{
    background-color: lightgray;
}
h2{
    text-decoration: underline navy;
}
